<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.iot.check_battery</string>
        <key>ProgramArguments</key>
        <array>
            <!-- Change /usr/bin/python3 to your python3 directory -->
            <string>/usr/bin/python3</string>
            <string>check_battery.py</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/username/folder_of_your_script</string>
        <!-- This will execute every 60 seconds -->
        <key>StartInterval</key>
        <integer>60</integer>
        <key>StandardOutPath</key>
        <string>/Users/username/folder_of_your_script/status.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/username/folder_of_your_script/error.log</string>
        <key>RunAtLoad</key>
        <true />
    </dict>
</plist>
